.cardsList {
  /* min-height: 100vh; */
}
.cardsList > li {
  margin-bottom: 40px;
}

.errorLoading {
  margin-top: 20px;

  color: brown;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.buttonMore {
  margin: 0 auto;
  display: block;
  width: 220px;
  max-width: 50%;
  height: 50px;
  background: #cc6633;
  border-radius: 0px 0px 3px 0px;
  align-self: flex-end;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

@media all and (min-width: 612px) {
  .cardsList {
    padding: 40px 0;
  }
}
