.content {
  overflow: hidden;
  min-height: calc(100vh - 140px);
}

@media all and (min-width: 612px) {
  .content {
    background-color: var(--white);
    border-radius: 7px 7px 0 0;
    min-height: calc(100vh - 140px);
  }
}
