.sortBlock {
  padding: 11px 20px;
  border-radius: 7px;
}

.sortBlock svg {
  height: 35px;
  width: 100%;
}

@media all and (min-width: 612px) {
  .sortBlock svg {
    height: 40px;
  }

  .sortBlock {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}
