.buttonsList {
  padding: 17px;
  display: flex;
  flex-direction: space-between;
  flex-wrap: no-wrap;
  gap: 15px;
  width: 100%;
  overflow: hidden;

  background-color: #e5e5e5;
}

.moreButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 24px;

  border-radius: 50%;
  transform: rotate(90deg);
}

.button:hover {
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.moreButton {
  padding: 0 9px;
}

.moreButton circle {
  transition: fill 0.3s ease;
}

.moreButton:hover circle {
  fill: var(--orange);
}

.buttonsItem:nth-child(n + 5) {
  display: none;
}

@media screen and (min-width: 520px) {
  .buttonsItem:nth-child(n + 2) {
    display: none;
  }
}

@media screen and (min-width: 612px) {
  .buttonsItem:nth-child(n + 2) {
    display: block;
  }
  .buttonsItem:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 972px) {
  .buttonsItem:nth-child(n + 4) {
    display: block;
  }

  .moreButton {
    display: none;
  }
}
