/* .karmaCounter > * + * {
  padding: 0 0 0 4px;
} */

.karmaValue {
  padding: 0 4px;
  color: var(--greyC4);
  font-size: 12px;
  line-height: 14px;
}

.svgRotate {
  transform: rotate(180deg);
}

.up,
.down {
  width: max-content;
  height: max-content;
}

@media all and (min-width: 612px) {
  .karmaCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }
  /* .karmaCounter > * + * {
    padding: 7px 0 0;
  } */

  .karmaValue {
    padding: 7px 0;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
  }
}

@media all and (min-width: 1540px) {
  .karmaCounter > button.up:hover > svg > path {
    fill: var(--green);
  }

  .karmaCounter > button.down:hover > svg > path {
    fill: var(--orange);
  }
}
