.CommentReplysList {
  display: flex;
  flex-wrap: wrap;
}

.CommentReply {
  padding: 12px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.CommentReplyItem {
  margin-right: 15px;
}

.CommentReplyText {
  margin-left: 5px;
  color: var(--grey99);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--greyEC);
}

.CommentReplyDekstop {
  display: flex;
}

@media all and (min-width: 612px) {
  .CommentReplyItem:not(:last-child) {
    margin-right: 27px;
  }
}

@media all and (min-width: 480px) {
  .CommentReplysList {
    flex-wrap: nowrap;
  }
}
